body {
	background-color: #000;
	color: #fff;
	font-size: 16px;
	font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
}

.device {
	width: 500px;
	margin: 0 auto;
	background-color: #141c21;
	padding: 1rem;
	border: 3px solid #454544;
}
.device .brand {

	text-align: center;
	margin: -.5rem -.5rem 1rem;
	background-color: #000000;
	border: 2px solid #333332;
	padding: 1rem;
	border-radius: 15px;
	font-family: Pacifico, serif;
	letter-spacing: 2px;
	font-size: 3rem;
	line-height: 3rem;
	animation: color-change 5s infinite;
}
p{
	-webkit-animation: color-change 1s infinite;
	-moz-animation: color-change 1s infinite;
	-o-animation: color-change 1s infinite;
	-ms-animation: color-change 1s infinite;
	animation: color-change 1s infinite;
}

@-webkit-keyframes color-change {
	0% { color: #f8d1b9; }
	33% { color: #9eafff; }
	66% { color: #c9ffb2; }
	100% { color: #f8d1b9; }
}

.device .brand .copyright {
	font-size: 1.5rem;
	vertical-align: super;
}

.device .mixer .mixer-channel {
	position: relative;
	box-sizing: border-box;
	border: 1px solid #000000;
	background-color: #303443;
	border-radius: 10px;
	width: 45%;
	float: left;
	padding: 0.5rem;
	font-family: Iceland, sans-serif;
}
.device .mixer .mixer-channel:last-child {
	float: right;
}

.device .mixer .mixer-channel h2 {
	font-size: 1.5rem;
	margin: 0 0 .5rem;
}

.device .mixer .mixer-channel label {
	display: block;
	text-align: center;
}

.device .mixer .mixer-channel .low-band,
.device .mixer .mixer-channel .high-band {
	padding: 0 0.25rem;
	margin: 0 0 0.5rem;
}
.device .mixer .mixer-channel .low-band input,
.device .mixer .mixer-channel .high-band input {
	width: 100%;
	box-sizing: border-box;
}

.device .mixer .mixer-channel .volume {

}


.device .mixer .mixer-channel .volume .fader-wrapper {
	height: 200px;
	width: 100px;
	margin: 0 auto;
}

.device .fader-vertical {
	-webkit-appearance: none;
	transform: rotate(-90deg) translateX(-190px) translateY(25px);
	transform-origin: 0 0;
	width: 180px;
	height: 50px;
	background-color: #000;
}

.device .fader-vertical::-webkit-slider-runnable-track {
	-webkit-appearance: none;
	width: 200px;
	height: 2px;

	background-color: #fff;
}

.device .fader-vertical::-webkit-slider-thumb {
	-webkit-appearance: none;
	transform: translateY(-15px);
	height: 30px;
	width: 10px;
	border-left: 4px solid #000;
	border-right: 4px solid #000;
	background-color: #fff;
}

.device .control-button {
	width: 3rem;
	height: 3rem;
	background-color: #6f6a6a;
	padding: 1rem;
	border: none;
	color: #fff;
	border-radius: 5px;
}
.device .play-left {
	position: absolute;
	right: 1rem;
	bottom: 5rem;
}
.device .play-left:after, .device .play-right:after {
	content: '';
	position: absolute;
	left: 15px;
	top: 15px;
	height: 0;
	border-left: 20px solid #ffffff;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
}
.device .stop-left {
	position: absolute;
	right: 1rem;
	bottom: 1rem;
}
.device .play-right {
	position: absolute;
	left: 1rem;
	bottom: 5rem;
}
.device .stop-right {
	position: absolute;
	left: 1rem;
	bottom: 1rem;
}