body {
	background-color: #000;
	color: #fff;
	font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
}

.mixer {
	display: flex;
}

.fader-wrapper {
	height: 200px;
	width: 100px;
}

.fader-vertical {
	-webkit-appearance: none;
	transform: rotate(-90deg) translateX(-200px);
	transform-origin: 0 0;
	width: 200px;
	height: 50px;
	background-color: #000;
}

.fader-vertical::-webkit-slider-runnable-track {
	-webkit-appearance: none;
	width: 200px;
	height: 2px;
	background-color: #fff;
}

.fader-vertical::-webkit-slider-thumb {
	-webkit-appearance: none;
	transform: translateY(-15px);
	height: 30px;
	width: 10px;
	border-left: 4px solid #000;
	border-right: 4px solid #000;
	background-color: #fff;
}

.control-button {
	background-color: #FFA43C;
	border: none;
	color: #fff;
}